{% extends "base.html" %}
{% block content %}

<div class="container">
    <h3>Input Form</h3>
    <p>Please fill in all required fields.</p>
    <!-- The form now submits to the current URL -->
    <form action="/view-plot/{{ database }}/{{ table_name }}/{{ plot_function }}" method="POST">
        <!-- Input for selecting groups -->
        <div class="form-group">
            <label for="selected_groups">Select Groups:</label>
            <input type="text" class="form-control" name="selected_groups" id="selected_groups" value="0" placeholder="Enter numbers separated by commas" required>
        </div>
        <!-- Input for selecting setting -->
        <div class="form-group">
            <label for="selected_setting">Select Setting:</label>
            <input type="text" class="form-control" name="selected_setting" id="selected_setting" value="0" placeholder="Enter numbers separated by commas" required>
        </div>
        <!-- Input for number of settings -->
        <div class="form-group">
            <label for="num_settings">Number of Settings:</label>
            <input type="text" class="form-control" name="num_settings" id="num_settings" value="8" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}

