{% extends "base.html" %}
{% block content %}

<div class="container">
    <h3>Please fill in all required fields</h3>
    <p>if side_of_a_square is 256 and side_subsquare is 128, then there are (256/128)^2 = 4 sections from 0~3</p>
    <!-- Update the action URL with the correct path -->
    <form action="/view-plot/{{ database }}/{{ table_name }}/{{ plot_function }}" method="POST">
        <div class="form-group">
            <label for="side_of_a_square">side_of_a_square:</label>
            <!-- Set default value to 256 -->
            <input type="text" class="form-control" name="side_of_a_square" id="side_of_a_square" value="256" required>
        </div>
        <div class="form-group">
            <label for="side_subsquare">side_subsquare:</label>
            <!-- Set default value to 128 -->
            <input type="text" class="form-control" name="side_subsquare" id="side_subsquare" value="128" required>
        </div>
        <div class="form-group">
            <label for="section_number">section_number:</label>
            <!-- Set default value to 0 -->
            <input type="text" class="form-control" name="section_number" id="section_number" value="0" placeholder="Enter numbers separated by commas" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}