{% extends "base.html" %}

{% block title %}list_tables{% endblock %}

{% block content %}
<div class="container">
    <div class="row mb-3">
        <!-- Table Name Search Field (common) -->
        <div class="col-md-2">
            <div class="form-group">
                <label for="search-table-name">Table Name:</label>
                <input type="text" class="form-control" id="search-table-name" placeholder="Search table name..." oninput="filterTablesByName()">
            </div>
        </div>

        {% set search_sections = ["lot", "wafer", "die", "dut", "d", "tc", "task", "date", "file type"] %}
        {% for section in search_sections %}
        <div class="col-md-1">
            <div class="form-group">
                <label for="search-section-{{ loop.index }}">{{ section }}:</label>
                <input type="text" class="form-control" id="search-section-{{ loop.index }}" placeholder="Search..." oninput="tableSelected()">
            </div>
        </div>
        {% endfor %}
    </div>
    
    <div class="mt-3 mb-3">
        <p>Number of tables: {{ tables|length }}</p>
        <button class="btn btn-primary" id="selectAll">Select All</button>
        <button class="btn btn-secondary" id="deselectAll">Deselect All</button>
        <button class="btn btn-danger" onclick="deleteSelectedRecords('{{ database }}')">Delete Selected</button>
    </div>

    <ul id="table-list" class="list-group no-bullets">
    {% for table in tables %}
        <li data-table-name="{{ table['table_name'] }}" class="table-item">
            <input type="checkbox" id="select-table-{{ loop.index }}" class="table-checkbox" data-table-name="{{ table['table_name'] }}">
            
            <!-- Common buttons -->
            <button class="btn btn-primary btn-sm" onclick="window.location.href='{{ url_for('view_table', database=database, table_name=table['table_name']) }}'">View</button>
            <button class="btn btn-danger btn-sm" onclick="deleteRecord('{{ database }}', '{{ table['table_name'] }}')">Delete This Table</button>

            {% if plot_option == 'plot_individual' %}
                <!-- Plot button available for both individual and multiple (plot functionality might vary based on the backend) -->
                <button class="btn btn-secondary btn-sm" onclick="window.location.href='{{ url_for('view_plot', database=database, table_name=table['table_name'], plot_function=plot_function) }}'">Plot</button>
            {% endif %}

            <!-- <span id="table-name-{{ loop.index }}">{{ table['table_name'] }}</span> -->
            <!-- Unified editable span for renaming -->
            <span contenteditable="true" id="table-name-{{ loop.index }}" onblur="renameTable('{{ database }}', '{{ table['table_name'] }}', this.innerText)">{{ table['table_name'] }}</span>
        </li>
    {% endfor %}
    </ul>

    <!-- Additional plot button for multiple plot option -->
    {% if plot_option == 'plot_multiple' %}
    <div class="mt-3">
        <a href="{{ url_for('view_plot', database=database, table_name=table_names, plot_function=plot_function) }}" class="btn btn-secondary">Plot</a>
    </div>
    {% endif %}
</div>

<style>
    /* Added CSS to remove bullets */
    .no-bullets {
        list-style-type: none; /* Removes the bullets */
        padding-left: 0; /* Removes the padding which is also part of the default list style */
    }
</style>

{% endblock %}