{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="border p-3 mb-4">
        <h3>Create New Database:</h3>
        <form action="/create-database" method="post" class="mb-3">
            <div class="form-group">
                <label for="newDatabaseName">Database Name:</label>
                <input type="text" name="newDatabaseName" id="newDatabaseName" class="form-control" placeholder="Enter new database name">
            </div>
            <button type="submit" class="btn btn-primary">Create Database</button>
        </form>
    </div>
</div>
{% endblock %}
