{% extends "base.html" %}

{% block title %}Select Database{% endblock %}

{% block content %}
<div class="container">
    <a href="/all-databases" class="btn btn-info mb-3">Create New Database</a>

    <div class="border p-3 mb-4">
        <h3>Database:</h3>
        <!-- Search input for filtering databases -->
        <input type="text" id="databaseFilter" class="form-control mb-3" placeholder="Filter databases...">

        <form action="/data-analysis" method="post" id="databaseForm">
            <fieldset class="form-group">
                <!-- Databases will be listed here as clickable divs -->
                <div id="databaseList">
                    {% for db in databases %}
                    <div class="database-option" data-db="{{ db }}">
                        {{ db }}
                    </div>
                    {% endfor %}
                </div>
            </fieldset>
        </form>
    </div>
</div>

<script>
// Add event listener to filter input
document.getElementById('databaseFilter').addEventListener('input', function(e) {
    var filter = e.target.value.toLowerCase().trim(); // Normalize input for search
    var databaseOptions = document.querySelectorAll('.database-option');

    databaseOptions.forEach(function(option) {
        var dbName = option.getAttribute('data-db').toLowerCase().trim(); // Normalize database names
        if (dbName.includes(filter)) {
            option.style.display = '';
        } else {
            option.style.display = 'none';
        }
    });
});

document.querySelectorAll('.database-option').forEach(function(item) {
    item.addEventListener('dblclick', function() {
        var form = document.getElementById('databaseForm');
        form.innerHTML += '<input type="hidden" name="database" value="' + item.getAttribute('data-db') + '">';
        form.submit();
    });
});
</script>

<style>
.database-option {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}
.database-option:hover {
    background-color: #f8f9fa;
}
.drag-drop-area {
    border: 2px dashed #007bff;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}
.drag-drop-area:hover {
    background-color: #f8f9fa;
}
.file-list ul {
    list-style-type: none;
    padding: 0;
}
.file-list p {
    margin-top: 10px;
}
</style>

{% endblock %}
