{% extends "base.html" %}
{% block content %}

<div class="container">
    <h3>Input Form</h3>
    <!-- Fixed description for developers -->
    <p></p>
    <!-- Update the action URL with the correct path -->
    <form action="/view-plot/{{ database }}/{{ table_name }}/{{ plot_function }}" method="POST">
        <div class="form-group">
            <label for="selected_groups">selected_groups:</label>
            <input type="text" class="form-control" name="selected_groups" id="selected_groups" placeholder="Enter numbers separated by commas" value="0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15" required>
        </div>
        <!-- Input for number of settings -->
        <div class="form-group">
            <label for="sub_array_size">sub array size (enter two integers separated by a comma): example, if each level has 81 rows and 64 columns, then give "81,64"</label>
            <input type="text" class="form-control" name="sub_array_size" id="sub_array_size" placeholder="Example: 16,8" required>
        </div>        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}
