{% extends "base.html" %}

{% block title %}list_tables{% endblock %}

{% block content %}
<div class="container">
    <!-- Add a Return to Home Page button -->
    <a href="/home-page" class="btn btn-primary mb-3">Return to Home Page</a>

    <!-- Simplified Drag and Drop File Upload Area -->
    <div class="border p-3 mb-4">
        <h3>Upload Files:</h3>
        <form id="uploadForm" action="/upload-file" method="post" enctype="multipart/form-data" class="mb-3">
            <input type="hidden" name="db_name" value="{{ database }}">
            <div class="form-group">
                <input type="file" name="files[]" id="files" multiple accept=".csv,.txt,.mat,.npy" style="display: none;">
                <div id="drop_area" class="drag-drop-area">
                    <p>Drag and drop files here</p>
                    <p>or click to select files</p>
                </div>
            </div>
            <div id="file_list" class="file-list">
                <p>No files selected</p>
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>           
    </div>

    <div class="mt-3 mb-3">
        <p>Number of tables: {{ tables|length }}</p>
        <button class="btn btn-primary" id="selectAll">Select All</button>
        <button class="btn btn-secondary" id="deselectAll">Deselect All</button>
        <button class="btn btn-danger" onclick="deleteSelectedRecords('{{ database }}')">Delete Selected</button>
        <button class="btn btn-warning" id="moveSelected">Move Selected</button>
        <button class="btn btn-info" id="copySelected">Copy Selected</button>
        <button class="btn btn-secondary" id="plotSelected">Plot Selected</button>
        <button class="btn btn-success" id="downloadSelected">Download Selected as CSV</button>
    </div>

    <ul id="table-list" class="list-group no-bullets">
        {% for table in tables %}
            <li data-table-name="{{ table['table_name'] }}" class="table-item">
                <input type="checkbox" id="select-table-{{ loop.index }}" class="table-checkbox" data-table-name="{{ table['table_name'] }}">
                <button class="btn btn-primary btn-sm" onclick="window.location.href='{{ url_for('view_table', database=database, table_name=table['table_name']) }}'">View</button>
                <span contenteditable="true" onblur="renameTable('{{ database }}', '{{ table['table_name'] }}', this.innerText)">{{ table['table_name'] }}</span>
                <span id="table-name-{{ loop.index }}" class="table-name">({{ table['dimensions'] }})</span>
            </li>
        {% endfor %}
    </ul>            
</div>

<script>
    document.getElementById('downloadSelected').addEventListener('click', function() {
        const checkboxes = document.querySelectorAll('.table-checkbox:checked');
        let tableNames = [];

        checkboxes.forEach(function(checkbox) {
            tableNames.push(checkbox.getAttribute('data-table-name'));
        });

        if (tableNames.length > 0) {
            tableNames.forEach(function(tableName) {
                // Dynamically create a link and click it
                const link = document.createElement('a');
                link.href = `/download_csv?database={{ database }}&table_name=${tableName}`;
                link.download = `${tableName}.csv`;  // This suggests a filename but may not work as expected for all server configurations
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            });
        } else {
            alert('Please select at least one table to download.');
        }
    });
</script>

<script src="/static/js/drag_and_drop.js"></script>

<script>
    document.getElementById('plotSelected').addEventListener('click', function() {
        const checkboxes = document.querySelectorAll('.table-checkbox:checked');
        let tableNames = [];
        
        checkboxes.forEach(function(checkbox) {
            tableNames.push(checkbox.getAttribute('data-table-name'));
        });
        
        if (tableNames.length > 0) {
            let baseUrl = "{{ url_for('view_plot', database=database, plot_function=plot_function, table_name='PLACEHOLDER') }}";
            baseUrl = baseUrl.replace('PLACEHOLDER', tableNames.join(','));
            
            // Update the current state before redirecting
            window.history.replaceState({}, '', window.location.href);
            window.location.href = baseUrl;
        } else {
            alert('Please select at least one table to plot.');
        }
    });

    function fetchDatabases() {
        return fetch('/getDatabases')
            .then(response => {
                if (response.ok) return response.json();
                throw new Error('Failed to fetch databases.');
            })
            .catch(error => alert(error.message));
    }

    async function selectDatabase() {
        const databases = await fetchDatabases();
        const selectionString = databases.map((db, index) => `${index + 1}. ${db}`).join('\n');
        const choice = prompt(`Select a database by entering its number:\n${selectionString}`);
        return databases[parseInt(choice) - 1];
    }

    async function moveSelectedTables(sourceDb) {
        const targetDb = await selectDatabase();
        if (targetDb) {
            const tableNames = Array.from(document.querySelectorAll('.table-checkbox:checked'))
                                    .map(checkbox => checkbox.getAttribute('data-table-name'));
            if (tableNames.length > 0) {
                fetch('/moveSelectedTables', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ sourceDb, targetDb, tableNames })
                })
                .then(response => {
                    if (response.ok) return response.json();
                    throw new Error('Failed to move selected tables.');
                })
                .then(data => alert(data.message))
                .catch(error => alert(error.message));
            } else {
                alert('Please select at least one table to move.');
            }
        }
    }

    async function copySelectedTables(sourceDb) {
        const targetDb = await selectDatabase();
        if (targetDb) {
            const tableNames = Array.from(document.querySelectorAll('.table-checkbox:checked'))
                                    .map(checkbox => checkbox.getAttribute('data-table-name'));
            if (tableNames.length > 0) {
                fetch('/copySelectedTables', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ sourceDb, targetDb, tableNames })
                })
                .then(response => {
                    if (response.ok) return response.json();
                    throw new Error('Failed to copy selected tables.');
                })
                .then(data => alert(data.message))
                .catch(error => alert(error.message));
            } else {
                alert('Please select at least one table to copy.');
            }
        }
    }

    // Bind moveSelectedTables and copySelectedTables functions to buttons
    document.getElementById('moveSelected').addEventListener('click', function() {
        moveSelectedTables('{{ database }}');
    });

    document.getElementById('copySelected').addEventListener('click', function() {
        copySelectedTables('{{ database }}');
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var dropArea = document.getElementById('drop_area');
        var fileInput = document.getElementById('files');
        var uploadForm = document.getElementById('uploadForm');
        var accumulatedFiles = [];

        dropArea.addEventListener('click', function() {
            fileInput.click();
        });

        fileInput.addEventListener('change', function() {
            handleFiles(this.files);
        });

        uploadForm.addEventListener('submit', function(e) {
            e.preventDefault();
            submitFiles();
        });

        function handleFiles(files) {
            accumulatedFiles = accumulatedFiles.concat(Array.from(files));
            updateFileList();
            console.log(files);
        }

        function updateFileList() {
            var fileListElement = document.getElementById('file_list');
            fileListElement.innerHTML = '';
            if (accumulatedFiles.length > 0) {
                var list = document.createElement('ul');
                accumulatedFiles.forEach(function(file, index) {
                    var listItem = document.createElement('li');
                    listItem.textContent = `${index + 1}: ${file.name}`;
                    list.appendChild(listItem);
                });
                fileListElement.appendChild(list);
            } else {
                fileListElement.innerHTML = '<p>No files selected</p>';
            }
        }

        function submitFiles() {
            var formData = new FormData(uploadForm);
            accumulatedFiles.forEach(function(file) {
                formData.append('files[]', file);
            });

            fetch('/upload-file', {
                method: 'POST',
                body: formData,
            })
            .then(response => response.text())
            .then(text => {
                console.log('Server Response:', text);
                alert('Files uploaded successfully.');
                setTimeout(() => {
                    window.location.reload();
                }, 1000);
            })
            .catch((error) => {
                console.error('Error:', error);
                alert('Failed to upload files. Error: ' + error.message);
            });
        }
    });
</script>

<!-- Styles for the drag-drop area and other page-specific styling -->
<style>
    .drag-drop-area {
        border: 2px dashed #007bff;
        border-radius: 5px;
        padding: 20px;
        text-align: center;
        cursor: pointer;
        margin-top: 20px;
    }
    .drag-drop-area:hover {
        background-color: #f8f9fa;
    }
    .file-list ul {
        list-style-type: none;
        padding: 0;
    }
    .file-list p {
        margin-top: 10px;
    }
    .no-bullets {
        list-style-type: none; /* Removes the bullets */
        padding-left: 0; /* Removes the padding which is also part of the default list style */
    }
</style>

{% endblock %}