{% extends "base.html" %}

{% block title %}list_tables{% endblock %}

{% block content %}
<div class="container">
    <div class="mt-3 mb-3">
        <p>Number of tables: {{ tables|length }}</p>
        <button class="btn btn-primary" id="selectAll">Select All</button>
        <button class="btn btn-secondary" id="deselectAll">Deselect All</button>
        <button class="btn btn-danger" onclick="deleteSelectedRecords('{{ database }}')">Delete Selected</button>
        <button class="btn btn-info" id="plotSelected">Plot Selected</button>
    </div>

    <ul id="table-list" class="list-group no-bullets">
        {% for table in tables %}
            <li data-table-name="{{ table['table_name'] }}" class="table-item">
                <input type="checkbox" id="select-table-{{ loop.index }}" class="table-checkbox" data-table-name="{{ table['table_name'] }}">
                <!-- Display table name and dimensions -->
                <button class="btn btn-primary btn-sm" onclick="window.location.href='{{ url_for('view_table', database=database, table_name=table['table_name']) }}'">View</button>
                <button class="btn btn-danger btn-sm" onclick="deleteRecord('{{ database }}', '{{ table['table_name'] }}')">Delete This Table</button>
                <span>{{ table['table_name'] }}</span>
                <span id="table-name-{{ loop.index }}" class="table-name">({{ table['dimensions'] }})</span>
            </li>
        {% endfor %}
    </ul>            
</div>

<script>
    document.getElementById('plotSelected').addEventListener('click', function() {
        const checkboxes = document.querySelectorAll('.table-checkbox:checked');
        let tableNames = [];
        
        checkboxes.forEach(function(checkbox) {
            tableNames.push(checkbox.getAttribute('data-table-name'));
        });
        
        if (tableNames.length > 0) {
            // Generate the base URL without the table_names parameter, using a placeholder if necessary
            let baseUrl = "{{ url_for('view_plot', database=database, plot_function=plot_function, table_name='PLACEHOLDER') }}";
            // Replace the placeholder with the actual table_names joined by commas
            baseUrl = baseUrl.replace('PLACEHOLDER', tableNames.join(','));
            
            window.location.href = baseUrl;
        } else {
            alert('Please select at least one table to plot.');
        }
    });
</script>

<!-- Styles for the drag-drop area and other page-specific styling -->
<style>
    .no-bullets {
        list-style-type: none; /* Removes the bullets */
        padding-left: 0; /* Removes the padding which is also part of the default list style */
    }
</style>

{% endblock %}