{% extends "base.html" %}

{% block title %}Manage Databases{% endblock %}

{% block content %}

<div class="container">
    <div class="border p-3 mb-4">
        <h3>Create New Database:</h3>
        <form action="/create-database" method="post" class="mb-3">
            <div class="form-group">
                <label for="userName">User Name:</label>
                <input type="text" name="userName" id="userName" class="form-control" placeholder="Enter your name">
            </div>
            <div class="form-group">
                <label for="newDatabaseName">New Database Name:</label>
                <input type="text" name="newDatabaseName" id="newDatabaseName" class="form-control" placeholder="Enter new database name">
            </div>
            <button type="submit" class="btn btn-primary">Create Database</button>
        </form>
    </div>

    <div class="border p-3 mb-4">
        <h3>Delete or Backup Databases:</h3>
        <!-- Database Search and Select Operations -->
        <div class="mb-3">
            <label for="search-database-name">Search Database:</label>
            <input type="text" class="form-control" id="search-database-name" placeholder="Search database name..." oninput="filterDatabasesByName()">
            <label for="backupDirectory">Backup Directory:</label>
            <input type="text" name="backupDirectory" id="backupDirectory" class="form-control" placeholder="Enter path for backup">
            <div class="mt-3">
                <button class="btn btn-primary" id="selectAll">Select All</button>
                <button class="btn btn-secondary" id="deselectAll">Deselect All</button>
                <button class="btn btn-danger" onclick="deleteSelectedDatabases()">Delete Selected</button>
                <!-- Backup Selected Databases Button -->
                <button class="btn btn-info" onclick="backupSelectedDatabases()">Backup Selected Databases</button>
                <!-- Hidden form for backup directory input, used by the backupSelectedDatabases function -->
                <input type="hidden" id="hiddenBackupDirectory" value="">
            </div>
        </div>

        <!-- Individual Database Operations -->
        <ul id="database-list" class="list-group no-bullets">
            {% for db in databases %}
            <li data-database-name="{{ db }}" class="database-item">
                <input type="checkbox" id="select-database-{{ loop.index }}" class="database-checkbox" data-database-name="{{ db }}">
                <!-- Button for backing up an individual database -->
                <form action="/backup" method="get" style="display: inline;">
                    <input type="hidden" name="backupDirectory" value="" class="backup-directory-input">
                    <input type="hidden" name="databaseName" value="{{ db }}">
                    <button type="submit" class="btn btn-success btn-sm">Backup This Database</button>
                </form>
                <button class="btn btn-danger btn-sm" onclick="deleteDatabase('{{ db }}')">Delete This Database</button>
                <span id="database-name-{{ loop.index }}" onclick="editDatabaseName(this, '{{ db }}')">{{ db }}</span>
                <input type="text" id="edit-database-name-{{ loop.index }}" class="edit-database-name" value="{{ db }}" onblur="saveDatabaseName(this, '{{ db }}')" onkeypress="handleKeyPress(event, this, '{{ db }}')" style="display:none;">
            </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Add the Move Tables Between Databases section here -->
     <!-- <div class="border p-3 mb-4">
        <h3>Move All Tables from source database to target database:</h3>
        <div class="form-group">
            <label for="sourceDatabase">Source Database:</label>
            <select id="sourceDatabase" class="form-control">
                {% for db in databases %}
                <option value="{{ db }}">{{ db }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="targetDatabase">Target Database:</label>
            <select id="targetDatabase" class="form-control">
                {% for db in databases %}
                <option value="{{ db }}">{{ db }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-warning" onclick="moveTables()">Move Tables</button>
    </div> -->

    <!-- Add the Copy All Tables Between Databases section here -->
    <!-- <div class="border p-3 mb-4">
        <h3>Copy All Tables from source database to target database:</h3>
        <form action="/copy-all-tables" method="post">
            <div class="form-group">
                <label for="copyAllSourceDatabase">Source Database:</label>
                <select id="copyAllSourceDatabase" name="sourceDatabase" class="form-control">
                    {% for db in databases %}
                    <option value="{{ db }}">{{ db }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="copyAllTargetDatabase">Target Database:</label>
                <select id="copyAllTargetDatabase" name="targetDatabase" class="form-control">
                    {% for db in databases %}
                    <option value="{{ db }}">{{ db }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Copy All Tables</button>
        </form>
    </div> -->
</div>

<script>
function editDatabaseName(element, originalName) {
    // Hide the span and show the input field
    element.style.display = 'none';
    var input = document.getElementById('edit-' + element.id);
    input.style.display = '';
    input.focus();
}

function saveDatabaseName(inputElement, originalName) {
    var newName = inputElement.value.trim();
    if (newName && newName !== originalName) {
        // Make an API call to update the database name
        // (Implement this function according to your backend API)
        updateDatabaseName(originalName, newName);
    }
    toggleEditDisplay(inputElement);
}

function handleKeyPress(event, inputElement, originalName) {
    // Save the new name when Enter is pressed
    if (event.key === 'Enter') {
        inputElement.blur();
    }
}

function toggleEditDisplay(inputElement) {
    var spanId = inputElement.id.replace('edit-', '');
    var span = document.getElementById(spanId);
    span.style.display = '';
    inputElement.style.display = 'none';
    span.textContent = inputElement.value;
}

/*function backupSelectedDatabases() {
    var selectedDatabases = document.querySelectorAll('#database-list .database-checkbox:checked');
    var backupDirectory = document.getElementById('backupDirectory').value;
    var databaseNames = Array.from(selectedDatabases).map(checkbox => checkbox.getAttribute('data-database-name'));

    if (databaseNames.length === 0) {
        alert('Please select at least one database to backup.');
        return;
    }

    if (!backupDirectory) {
        alert('Please specify a backup directory.');
        return;
    }

    if (confirm('Are you sure you want to backup the selected databases?')) {
        fetch('/backup', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                // Include other headers as needed, like authentication tokens
            },
            body: JSON.stringify({ databaseNames: databaseNames, backupDirectory: backupDirectory }),
        })
        .then(response => response.json())
        .then(data => {
            // Handle the array of responses from the server
            data.forEach(dbResponse => {
                if (dbResponse.message) {
                    alert(dbResponse.message);
                } else {
                    console.error('Error:', dbResponse.error);
                    alert('Failed to backup the database: ' + dbResponse.database + '. ' + dbResponse.error);
                }
            });
        })
        .catch(error => {
            console.error('Error:', error);
            alert('An error occurred while backing up the databases.');
        });
    }
}*/

function backupSelectedDatabases() {
    var selectedDatabases = document.querySelectorAll('#database-list .database-checkbox:checked');
    var databaseNames = Array.from(selectedDatabases).map(checkbox => checkbox.getAttribute('data-database-name'));

    if (databaseNames.length === 0) {
        alert('Please select at least one database to backup.');
        return;
    }

    if (confirm('Are you sure you want to backup the selected databases?')) {
        fetch('/backup', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                // Include other headers as needed, like authentication tokens
            },
            body: JSON.stringify({ databaseNames: databaseNames })
        })
        .then(response => {
            if (!response.ok) throw new Error('Network response was not OK');
            return response.blob();
        })
        .then(blob => {
            // Create a link element, use it to download the blob, and remove it
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.href = url;
            a.download = "backup.zip";
            document.body.appendChild(a);
            a.click();
            window.URL.revokeObjectURL(url);
            a.remove();
        })
        .catch(error => {
            console.error('Error:', error);
            alert('An error occurred while trying to backup the databases.');
        });
    }
}

function backupDatabase(name, directory) {
    fetch('/backup', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            // Include other headers as needed
        },
        body: JSON.stringify({ databaseName: name, backupDirectory: directory }),
    })
    .then(response => {
        // Check the response's content type
        const contentType = response.headers.get("content-type");
        if (contentType && contentType.indexOf("application/json") !== -1) {
            return response.json().then(data => {
                if (response.ok) {
                    alert('Database ' + name + ' has been successfully backed up.');
                } else {
                    throw new Error('Failed to backup the database: ' + name + '. ' + data.error);
                }
            });
        } else {
            // Not a JSON response
            return response.text().then(text => {
                throw new Error('Failed to backup the database: ' + name + '. Response was not JSON: ' + text);
            });
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert(error.message);
    });
}

// Function to select all databases
function selectAllDatabases() {
    document.querySelectorAll('#database-list .database-checkbox').forEach(function(checkbox) {
        checkbox.checked = true;
    });
}

// Function to deselect all databases
function deselectAllDatabases() {
    document.querySelectorAll('#database-list .database-checkbox').forEach(function(checkbox) {
        checkbox.checked = false;
    });
}

function deleteSelectedDatabases() {
    // Get all checked databases
    var selectedDatabases = document.querySelectorAll('#database-list .database-checkbox:checked');

    // Confirm before deletion
    if (selectedDatabases.length > 0 && confirm('Are you sure you want to delete the selected databases?')) {
        selectedDatabases.forEach(function(checkbox) {
            var dbName = checkbox.getAttribute('data-database-name');
            deleteDatabase(dbName); // Call the function to delete individual database

        });
    }
}

function deleteDatabase(name) {
    if (confirm('Are you sure you want to delete the database: ' + name + '?')) {
        fetch('/delete-database/' + encodeURIComponent(name), {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
                // Include other headers as needed
            },
        })
        .then(response => {
            // Capture the response and convert it to JSON
            if (response.ok) {
                alert('Database ' + name + ' has been successfully deleted.');
                document.querySelector('[data-database-name="' + name + '"]').remove();
            } else {
                // If response is not ok, still try to read and return the JSON data
                return response.json().then(data => {
                    throw new Error('Failed to delete the database: ' + name + '. ' + data.error);
                });
            }
        })
        .catch(error => {
            // Handle any errors in the network request or in parsing the response
            console.error('Error:', error);
            alert(error.message);
        });
    }
}

// Event listeners for the select/deselect buttons
document.getElementById('selectAll').addEventListener('click', selectAllDatabases);
document.getElementById('deselectAll').addEventListener('click', deselectAllDatabases);

// Your existing backup directory synchronization script
document.getElementById('backupDirectory').addEventListener('input', function() {
    var backupDirectory = this.value;
    document.querySelectorAll('.backup-directory-input').forEach(function(input) {
        input.value = backupDirectory;
    });
});

// Script to update the hidden backup directory inputs for individual databases when the main input changes
document.getElementById('backupDirectory').addEventListener('input', function() {
    document.querySelectorAll('.backup-directory-input').forEach(function(input) {
        input.value = this.value;
    });
});

function filterDatabasesByName() {
    var input, filter, ul, li, i, txtValue;
    input = document.getElementById('search-database-name'); // Ensure this matches the search field ID
    filter = input.value.toUpperCase().trim();
    ul = document.getElementById("database-list"); // Target the database list
    li = ul.getElementsByTagName('li'); // Get the list items

    for (i = 0; i < li.length; i++) {
        txtValue = li[i].getAttribute('data-database-name') || ""; // Get the database name
        if (txtValue.toUpperCase().startsWith(filter)) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}

function updateDatabaseName(originalName, newName) {
    fetch(`/rename-database/${encodeURIComponent(originalName)}/${encodeURIComponent(newName)}`, {
        method: 'PUT',
        headers: {
            // Include other headers as needed, like authentication tokens
        }
        // No body needed since data is in URL
    })
    .then(response => {
        if (response.ok) {
            return response.text();  // Assuming the response is plain text
        } else {
            throw new Error('Network response was not ok.');
        }
    })
    .then(message => {
        console.log('Success:', message);
        alert('Database name updated successfully!');
    })
    .catch((error) => {
        console.error('Error:', error);
        alert('Failed to update the database name.');
    });
}

function moveTables() {
    var sourceDb = document.getElementById('sourceDatabase').value;
    var targetDb = document.getElementById('targetDatabase').value;

    if (sourceDb === targetDb) {
        alert("Source and target databases cannot be the same.");
        return;
    }

    fetch(`/move-tables/${encodeURIComponent(sourceDb)}/${encodeURIComponent(targetDb)}`, {
        method: 'PUT',
        headers: {
            // Include other headers as needed, like authentication tokens
        }
    })
    .then(response => {
        if (response.ok) {
            return response.text();  // Assuming the response is plain text
        } else {
            throw new Error('Network response was not ok.');
        }
    })
    .then(message => {
        alert(message);
    })
    .catch((error) => {
        console.error('Error:', error);
        alert('Failed to move tables: ' + error.message);
    });
}
</script>

<style>
    /* Added CSS to remove bullets */
    .no-bullets {
        list-style-type: none; /* Removes the bullets */
        padding-left: 0; /* Removes the padding which is also part of the default list style */
    }
</style>

{% endblock %}
